@import '../../styles/_colors';

#chat-title {
    display: flex;
    align-items: center;
    grid-area: chat-title;
    background: $accent-color;
    color: $text-color-dark;
    font-weight: bold;
    font-size: 2.0rem;
    border-bottom: 1px solid $border-color;
    padding: 0 20px;
    z-index: 1;

    >img {
        margin-right: 1em;
    }
}
