@import '../../node_modules/compass-sass-mixins/lib/compass/utilities/color/_contrast.sass';

$primary-color: #fff;
$accent-color: #F5F5F5;
$accent-color2: #5eb8d8;

$message-color: #E0E0E0;
$message-color-dark: #3D4151;
$border-color: #DCDCDC;

$text-color: #6f6e6e;
$text-color-dark: #3E3E3E;
$contrasted-text-color: #FAFAFA;
